// Create variable "Primary-color" with hex code color value and set color to a heading element 
// Write a mixin called "gradient" of two colors for linear gradient background 
// Add styles to make tracker visually appealing + easy to use 


$primary-color: #bc8c95;

@mixin gradient($color1, $color2) {
    background: linear-gradient(to right, $color1, $color2);
}


body {
    margin: 0;
    padding: 0;
    @include gradient(rgb(200, 205, 202), rgb(39, 57, 40));
}

main {
    margin: 40px, auto;
}


.intro-container {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Michroma", sans-serif;
    font-weight: 200;
    font-style: normal;
}

h1 {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: $primary-color;
}

.income-container,
.expense-container {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    border: solid rgb(191, 191, 198) 2px;

    h3 {
        text-align: center;
        font-family: "Michroma", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    input {
        display: flex;
        width: 80%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    button {
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.inex-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.income-expense-wrapper {
    display: flex;
    gap: 20px;
}

.summary-net-wrapper {
    display: flex;
    gap: 20px;
}

.summary-container {
    text-align: center;
    font-family: "Michroma", sans-serif;
    font-style: normal;

    h3 {
        text-decoration: underline;
        background: $primary-color;
    }
}

.entry {
    font-weight: normal;
    margin-bottom: 8px;
    font-family: sans-serif;
    text-transform: capitalize;

    &.income {
        color: green;
    }

    &.expense {
        color: red;
    }
}